header,footer{
   text-align:center;
   border-top:1px solid gray;
   border-bottom:1px solid gray;
}
p.header{
   font-weight:bold;
   margin-top:2px;
   margin-bottom:2px;
}
section#body{
   width:960px;
   margin-left:auto;
   margin-right:auto;
}
section#left , section#right{
   display:inline-block;
}
section.left{
   width:25%;
}
section.right{
   width:60%;
}
