*{
	font-family: 'PT Sans Caption', sans-serif;
	margin:0;
	padding:0;
}

div#layout
{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #E0E0E0;
}

h1{
	color:rgb(33,125,140);
	text-align:center;	
	background:url('image/Untitled.png') no-repeat;
	padding-top:200px;
	padding-bottom:50px;
	margin-top:0px;
}

h2{
	color:rgb(214,139,11);
	text-align:center;
	font-weight:normal;
	padding-top:20px;
	padding-bottom:20px;
}

ul li{
	list-style:none;
	width:360px;
	margin-left:20px;
	display:table;
	
}

li span{
	float:right;
}

li span:first-child{
	float:left;
}

p{
	text-align:left;
	font-size:13px;
	color:rgb(116,140,134);
	margin:20px 20px 20px 20px;
}

address{
	width:360px;
	display:table;
	padding:0 20px 20px 20px;
}

address span{
	font-size:12px;
	font-style:normal;
	color:rgb(116,140,100);
	float:right;
}

address span:nth-child(3){
	float:left;
}
