body{
	font-family: 'Advent Pro', sans-serif;
}
.full{
	width: 400px;
	margin: 0 auto;
	border:1px solid grey;
}
	.logo1, .logo2{
		display: inline-block;
	}
	.logo1{
		background: url('http://img560.imageshack.us/img560/8445/o7l9.jpg');		
		width: 300px;
		height: 300px;
	}
	.logo2{
		float: right;	
		background: url('http://img208.imageshack.us/img208/5903/91k6.jpg');
		float: right;
		width: 150px;
		height: 64px;
		margin:20px 20px;
	}
	h1{
		background:url('http://img203.imageshack.us/img203/522/87o.png')no-repeat;
		text-align: center;	
		color: #0D427A;	
		letter-spacing: 3px;
		height:300px;
		line-height:550px;
		margin-top:0px;
	}
	h2{
		text-align: center;	
		color: olive;	
		letter-spacing: 3px;
	}
	ul li{
		list-style:none;
		width:300px;
	}
		ul li span:first-child{
			text-align:left;
		}
		ul li span:last-child{
			float:right;
		}
	 p{
		text-align: justify;
		padding: 0 20px;	
		color: #333031;	
	}
	address{
		padding:5px 20px;
	}
	a{
		text-decoration: none;
		color: #007BFF;
	}
	a:hover{
		text-decoration: underline;;
		color: #007BFF;
	}
